.box {
    background: #161615;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px;
    margin: 20px 0px;
    border-radius: 15px; 
    max-width: 1000px;
    min-width: 600px;
    color: #F9D142;
    height: auto;
    display: block;
}

.box2 {
    background: #161615;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px 30px;
    margin: 20px 0px;
    border-radius: 15px; 
    max-width: 1000px;
    min-width: 600px;
    color: #F9D142;
    height: auto;
    display: block;
    font-size: 20px;
}

.highlight {
    background-color: #c0a132;
    padding: 4px 15px;
    border-radius: 10px;
    color: #292826;
    font-weight: 700;
}

.highlight2 {
    background-color: #1b1b1a;
    padding: 4px 15px;
    border-radius: 10px;
    color: #c0a132;
}

.title {
    margin: 10px;
}

a {
    margin: 20px;
    color: #F9D142;
    padding: 10px;
} 

/* tooltip */
.tooltip {
    position: relative;
    display: block;
    margin: 10px;
}
  
.tooltip .tooltipText {
    visibility: hidden;
    font-size: 20px;
    width: auto;
    background-color: rgba(202, 169, 52, 0.486);
    color: #292826;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
}
