.box {
    background: linear-gradient(to top, #d2e9d6,  #c4e6ca);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px;
    margin: 20px 0px;
    border-radius: 15px; 
    max-width: 1000px;
    min-width: 600px;
    color: black;
    height: auto;
    display: block;
}

.box2 {
    background: linear-gradient(to bottom, #90a794,  #778a7b);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px 30px;
    margin: 20px 0px;
    border-radius: 15px; 
    max-width: 1000px;
    min-width: 600px;
    color: black;
    height: auto;
    display: block;
    font-size: 20px;
}

.highlight {
    background-color: #b6ccbb;
    padding: 4px 15px;
    border-radius: 10px;
}

.highlight2 {
    background-color: #354138;
    padding: 4px 15px;
    border-radius: 10px;
    color: #fff;
}

.title {
    margin: 10px;
}

a {
    margin: 20px;
    color: black;
    padding: 10px;
} 

/* tooltip */
.tooltip {
    position: relative;
    display: block;
    margin: 10px;
}
  
.tooltip .tooltipText {
    visibility: hidden;
    font-size: 20px;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
}
