html,
body {
    /* background: linear-gradient(to bottom, #012949, #a5cc82); */
    background-color: #000000;
    font-size: 20px;
    font-family: sans-serif;
    width: 100vw;
    height: auto;
    margin: 0;
    color: rgb(198, 245, 29);
}

/* a {
    text-shadow: 5px 2px 8px #0d0e0d;
}

h1, h2, h3, h4, p, div {
    text-shadow: 5px 5px 5px #000000;
} */
