body {
    background: linear-gradient(to top, #4a5a4d, #2c332e);
    font-size: 20px;
    font-family: 'NanumBarunGothic', 'serif';
    line-height: 40px;
}

.index {
    color: #fff;
    margin: 30px auto 150px auto; 
    width: 80vw;
    height: 100%;
    max-width: 1000px;
    min-width: 600px;
}

.index2 {
    color: #fff;
    margin: 30px auto; 
    width: 80vw;
    height: 100vh; /* index, 높이 값만 다름. */
    max-width: 1000px;
    min-width: 600px;
}

li {
    margin: 20px;
    font-size: 22px;
}

a {
    text-decoration: underline;
    color: #fff;
}

img {
    margin: 30px auto;
    display: block;
    max-width: 600px;
}

h2 {
    background-color: #1b221d;
    padding: 7px 15px;
    border-radius: 10px;
}

h4 {
    margin-bottom: 5px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin-top: 20px;
    padding: 7px;
    text-align: center;
}

pre {
    background: #90a794;
    margin: 10px 0;
    border-radius: 15px;
    padding-top: 30px;
    font-family: sans-serif;
    color: #000;
    font-size: 13px;
    line-height: 30px;
    font-size: 20px;
}
