li {
    margin: 20px;
}
.title {
    font: 20px bold;
    padding: 5px 10px;
    padding-bottom: 10px;
    margin: 10px 5px;
    background: #202421;
    border-radius: 10px;
    font-weight: bold;
}

.title2 {
    font: 20px bold;
    padding: 5px 10px;
    padding-bottom: 10px;
    margin: 10px 5px;
    background: #8b9b8f;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

.ex {
    background: #637767;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 10px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}