li {
    margin: 20px;
}
.title {
    font: 20px bold;
    padding: 5px 10px;
    padding-bottom: 10px;
    margin: 10px 5px;
    background-color: #161615;;
    border-radius: 10px;
    font-weight: bold;
}

.title2 {
    font: 20px bold;
    padding: 5px 10px;
    padding-bottom: 10px;
    margin: 10px 5px;
    background-color: rgba(202, 169, 52, 0.486);
    border-radius: 10px;
    color: #161615;
    font-weight: bold;
}

.ex {
    color: #161615;;
    background-color: rgb(182, 152, 45);
    border-radius: 3px;
    padding: 10px 10px;
    margin: 10px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}