/* .content-container__content { 
    display: none; 
}

.content-container__content.target {
    display: block; 
}

.tab-container__item.active { 
    border-bottom: 2px solid #369fff;
} */

.tab {
    display: block;
    width: 70vw;
    height: auto;
    cursor: pointer;
    margin: 20px auto;
    background-color: #ebdbeb;
}

.tabButton {
    border: 2px solid #b9a1b9;
    width: 120px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.tabContent {
    display: block;
    border: 5px solid #b9a1b9;
    border-radius: 10px;
    margin: 5px 0 10px 0;
    padding: 10px;
}