.tab {
    cursor: pointer;
    margin: 0;
    background-color: #ebdbeb;
}

.tabButton {
    border: 3px solid #b9a1b9;
    background-color: #b8afb8;
    width: 150px;
    display: inline;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.tabContent {
    display: block;
    border: 5px solid #642064;
    border-radius: 10px;
    margin: 5px 0 10px 0;
    padding: 20px 50px;
    /* width: calc(100% - 110px); */
    height: 80vh;
}
