.markdown {
  font-size: 1em;
}

.markdown anchor {
  cursor: pointer;
}

.markdown img {
  pointer-events: none;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border: 2px solid #607eaa;
}

.markdown blockquote {
  padding: 10px;
  border: #1c3879 2px solid;
  border-radius: 15px;
  vertical-align: middle;
}

.markdown hr {
  height: 2px;
  border: double #607eaa 1px;
}

.markdown h1 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #bbd0ee;
  padding: 7px 15px;
  border-radius: 15px;
}

.markdown h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #e7ecf4;
  padding: 3px 10px;
  font-size: 1.2em;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: 1em;
}

.markdown li {
  margin: 10px;
}

.markdown strong {
  margin: 20px 30px;
  background-color: #cbe0ff;
  padding: 5px
}

.markdown hr {
  margin: 100px 0;
}

/* CODE */
.markdown pre {
  border-radius: 15px;
  padding: 10px 25px;
  background: #f4f4f4;
}

.markdown code {
  color: #1c3879;
  white-space: pre-wrap;
}
