.container {
  margin-top: 100px;
}

.badge {
  height: 50px;
  width: 50px;
}

.line {
  margin-top: 30px;
  margin-bottom: 30px;
}

.drag {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
